

h1 {
  font-family: Verdana, Geneva, sans-serif;
}

.top {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  list-style: none;
}

.inline {
  display: block;
  border: 1px solid black;
  margin: 25px;
}



.n-child section:nth-of-type(even) {
  border: 1px solid black;
}
